

.box {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.box2 {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.box3 {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.box4 {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.box5 {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
